extends ../layouts/default


block content
    .container: .text-center
        h2 通过微信或支付宝支付并留言可获得余额

        hr
        img(src="/images/wechat.jpg",alt="微信支付",title="微信支付").qrcode
        hr
        img(src="/images/alipay.jpg",alt="支付宝支付",title="支付宝支付").qrcode
