extends ../layouts/master
include ../mixins/major_list
include ../mixins/course_list
include ../mixins/title_list

block head
	script(src="/js/jquery/jquery-2.1.4.min.js")
	script(src="/js/layer/layer.js")
	script(src="/js/site/learn.js")

block content
	.container: .row
		.col-sm-12.col-md-3
			h2 专业分类			
			+major_list(majors,major_level)
	
		.col-sm-12.col-md-8
			h2 学分分类
			+title_list(titles)

			hr
			
			h2 课程列表
			+course_list(courses,major_id)
