extends ../layouts/default


block content
    .container
        h2 第一步，登录到华医网
        div 1. 打开浏览器，在地址栏中输入 http://localhost:3000/login，在登录页面中输入华医网的账号，密码，及验证码，最后点击登录。
        div 2. 如果登录成功，浏览器会自动跳转到"我要学习"页面。（您也可以始终在顶部的导航栏中点击“我要学习”菜单项来进入）
        
        hr

        h2 第二步，选择课程
        div 1. 在“我要学习”页面中，会展示全部的课程，同时，您也可以通过左侧的专业分类和上方的学分分类来筛选。
        hr

        h2 第三步，一键学习
        div 1. 在课程列表中找到您要学习的课程，然后点击一键学习按钮。等待几秒钟，会提示您学习成功。
            
