extends ../layouts/master

block js
    script(src="/js/jquery-validator/jquery.validate.min.js")
    script(src="/js/jquery-validator/localization/messages_zh.js")
    script(src="/js/site/login.js")

block content
        .container: .content: .row: .col-sm-8.col-md-6
            h2 请登录到华医网
            form#login-form(method='post', novalidate="true")
                .form-group
                    label(for="user") 华医网账号
                    input(type='text', name='user',value=formData.user,required="true").form-control
                .form-group
                    label(for="password") 登录密码
                    input(type='password', name='password',required="true").form-control
                .form-group
                    label(for="password") 确认密码
                    input(type='password', name='adminPassword',required="true").form-control
                .form-actions
                    button(type='submit').btn.btn-primary 检测