mixin course_list(courses)
    if courses
        #course_list
            +course_items(courses)

        .text-center
            button( onclick="loadMoreCourse()").btn.btn-link 加载更多

mixin course_items(courses)
    each course in courses
        +course_item(course)

mixin course_item(course)
    if course
            div(id="course_container_"+course.Course_Id).media
                .media-left
                    img(src="http://cmebg.91huayi.com/Upload/CourseImages/"+course.Img_Url).media-object.course-cover
                .media-body
                    .media-heading
                        span.glyphicon.glyphicon-bookmark.text-success
                        strong.list-group-item-heading=course.Course_Name
                        div.label.label-default=course.Score_Name
                    =course.Course_Content
                .text-right
                    case course.Study_State
                        when 2
                            span.label.label-success 已学
                        default
                            button(onclick="study('"+course.Course_Id+"',"+course.Assign_Num+")").btn.btn-primary.btn-sm 一键学习