


.logo {
    height: 50px;
    display: block;
    float: left;
    margin-top: -15px;
    margin-right: 15px;
}

.gallery-image img {
    display: block;
    max-width: 100%;
    height: auto;
}

.course-cover {
    width: 100px;
    height: auto;
}

.container {
    .content {
        padding: 24px;
        margin-bottom: 20px;
    }
}