

#header {
    margin-top: 30px;
}

#body{
    padding-top:70px;
}

#footer {
    margin-top: 30px;
    border-top: 1px solid #eeeeee;
    padding-top: 30px;
    color: #777777;
}

.logo{
    height:50px;
    display: block;
    float: left;
    margin-top: -15px;
    margin-right: 15px;
}

.gallery-image img {
    display: block;
    max-width: 100%;
    height: auto;
}

.course-cover {
    width: 100px;
    height: auto;
}

.sub-major-container {
    padding-left: 12px;
}

.sub-title-container {
    padding-left: 12px;
}

.qrcode {
    width: 220px;
    border-radius: 12px;
    border: solid 1px #eee;
}

.container {
    .title {
        padding: 24px;
    }

    .content {
        border-radius: 12px;
        padding: 24px;
        background: #fff;
    }
}